a {
  text-decoration: none;
   color: white;
}
.navbar-brand img {
    height: 35px;
    padding: 0 0 10px 5px;
}
.section {
    padding: 60px 0;
}
.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
}
.col-md-4 {
    padding: 12px;
}
#banner {
    position:absolute;
    width: 100% !important;
    height:100% !important;
    top: 0;
    left: 0;
    z-index: -1;
}
.navbar {
    background-color: rgba(240,248,255,0.2) !important;
    transition: background-color 0.4s ease-in-out;
}
.navbar.transparent {
    background-color: rgba(240,248,255,0.2) !important;
    color:white !important;
}
.navbar.opaque {
    background-color: #f8f9fa !important;
}

.jumbotron {
    color: black;
    padding: 20px 0;
    text-align: center;
}
#menu {
    margin-top: 10px;
}
form {
    max-width: 516px;
    align-items: center;
}
#order {
    margin-left: auto;
    margin-right: auto;
}

#head-color {
    color: white;
}
li {
    margin-left: 20px;
}
.intro-head {
  background-size: cover;
    padding:60vh 0 0px 20px;
    font-size: 3rem;
}
.intro-shead {
    padding:0px 0 40px 25px;
    font-size: 1.5rem;
}
.white {
    text-shadow: 0 0 5px #000000, 0 0 5px #000000;
    color: white !important;
  }


  /*
@media (min-width: 320px) and (max-width: 440px){
    #about {
        margin-top: 20vh;
    }
}
@media (min-width: 440px) and (max-width: 590px){
    #about {
        margin-top: 30vh;
    }
}
@media (min-width: 590px) and (max-width: 690px){
    #about {
        margin-top: 40vh;
    }
}
@media (min-width: 690px) and (max-width: 768px){
    #about {
        margin-top: 50vh;
    }
}
@media (min-width: 768px) and (max-width: 915px){
    #about {
        margin-top: 55vh;
    }
}
@media (min-width: 915px) and (max-width: 1000px){
    #about {
        margin-top: 60vh;
    }
}
@media (min-width: 1000px){
    #about {
        margin-top: 73vh;
    }
}*/
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

 